{% extends 'base.html' %} 
 {% load static %}

  {% block content %}
  <div class="container">
    <p style="text-align: center; font-size: 30px; font-weight: bold; padding-top: 30px;">Terms and conditions</p>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

       
        <div class="container">   
          <p>(1) A deposit of USD 2000. 00 is required to obtain a buyers card, 
            which is refundable if all conditions are met, but will not be refunded if the buyer defaults payment.</p>
        </div>
        <div class="container">
            <p>(2) Entrance is strictly to catalog holders Only at $....... Each</p>
          </div>
          <div class="container">
            <p>(3) The highest accepted bidder subject to reserve value will be declared the purchaser upon the fall of  the auctioneer hummer</p>
        </div>
        <div class="container">
            <p>(4) Payment is strictly at the conclusion of sale</p>
        </div>
        <div class="container">
            <p>(5) Buyers premium :the buyer will be charged a purchasers levy of 12.5% on the bid price and 15% VAT 
                 levied on the purchase levy</p>
        </div>
        <div class="container">
            <p>(6) All payments either via transfare or cash should be done or concluded before 17:00hrs on..........................</p>
        </div>
        <div class="container">
            <p>(7)All purchases will remain at buyers buyers risk upon purchase. The auctioneer will not be held responsible for the safety custody of goods bought or sold. 
                All items must be removed from the premises within seven (7) working days or  a storage of usd10  per day will be charged </p>
        </div>
        <div class="container">
            <p>(8) All items are exposed for examination and are sold without guarantee, buyers must inspect items prior purchaseAll items are exposed for examination a
                nd are sold without guarantee, buyers must inspect items prior purchase</p>
        </div>
        <div class="container">
            <p>(9) The description of the item /lots will be described to the best knowledge of the auctioneer but no responsibility will be accepted for any inaccurate
                 description as all items are sold voetstoot</p>
        </div>
        <div class="container">
            <p>(10) Should any dispute arise between two or more bidders the lot in question will be put back up again and resold or the auctioneer may declare the
                 purchaser his or her decision is to that effect being final</p>
        </div>
        <div class="container">
            <p>(11) The auctioneer reserves the to regulating and refuse any withdrawing adding lots on the sale and action pertaining to this legal or ather 
                wise maybe brought against the auctioneer/p>
        </div>
    </div>
  </div>
</div> 
</div> 

  


{% endblock %}